body, html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}
.menu_lateral{
    height: 100%;
    width: 20%;
    background-color: #05a7c4;
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
}
.menu_lateral ul{
    text-decoration: none;
    color: white;
    font-weight: 400;
    
}
.bem_vindo{
    width: 80%;
    height: 100%;
    background-color: #d3d3d3;
    position: relative;
    display: flex;
    flex-grow: 1;
    float: right;
    top: 0;
    bottom: 0;
    padding-left: 10px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.bem_vindo h1,
.bem_vindo p{
    text-align: center;
}